body{
    margin:0;

}

.warp{
width: 800px;
height: 1000px;
margin: auto;
background: gainsboro;
position: relative;
}

.box{
    height: 500px;
    width: 500px;
    margin:auto;
    background: rgb(7, 46, 48);
    position: absolute;
    top:20px; left:30px;
}

.parent {
    border: 2px black dotted;
    display: inline-block;
   }
   .box {
    display: inline-block;
    background: red;
    width: 100px;
    height: 100px;
   }
   #two {
     background: green;
   }